:root {
    --background: rgb(213, 228, 241);
    --foreground: rgb(126, 0, 0);
    --dark: rgb(31, 18, 37);
    --light: rgb(164, 199, 164);
    --font: sans-serif;
}

.toppings {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}