* {
    margin: 0;
    padding: 0;
}

:root {
    --background: rgb(213, 228, 241);
    --foreground: rgb(126, 0, 0);
    --dark: rgb(31, 18, 37);
    --light: rgb(164, 199, 164);
    --font: sans-serif;
}

/* universal styling */
body {
    background-color: var(--background);
    font-family: var(--font);
    color: var(--dark);
    min-height: 100vh;
}

.header {
    background-color: var(--foreground);
    height: 100px;
    width: 100%;
}

.header img {
    position: absolute;
}

nav a {
    color: var(--light);
    float: right;
    margin: 10px;
    margin-top: 40px;
}

.footer {
    background-color: var(--foreground);
}

.toppings {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.OrderMenu {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 10px;
}

.pizza-choice {
    background-color: var(--foreground);
}

.about {
    background-color: var(--light);
    font-family: var(--font);
    border: 3px solid var(--dark);
    border-radius: 15px;
    width: 700px;
    height: 500px;
}