* {
    margin: 0;
    padding: 0;
}

:root {
    --background: aliceblue;
    --foreground: rgb(126, 0, 0);
    --dark: rgb(31, 18, 37);
    --light: rgb(164, 199, 164);
    --font: sans-serif;
}

/* universal styling */
body {
    background-color: var(--background);
    font-family: var(--font);
    color: var(--dark);
    min-height: 100vh;
}

.header {
    background-color: var(--foreground);
    height: 100px;
}

.footer {
    background-color: var(--foreground);
}